body{
    /* background-image: url(img/backgroundimg.png); */
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: arvo;
}

header{
    border-radius: 20px;
    border-bottom: 2px solid #ccc;
    display: flex;
    justify-content: center;
    min-height: 40px;
    margin-top: 0px;
    padding:10px 0 ;
    width: auto;
    /* Propiedades para el texto  */
    /* font-family:'Gloria Hallelujah'; */
    width: 100%;
    font-size: xx-large;
    text-align: center;
    line-height: 30px;
}
img#logo_sena{
    width: 7%;
    height: 7%;
    border-radius: 20px;
}
div#divisor_line{
    background-color: black;
    width: 5px;
    height: 6pc;
    margin-left: 8px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.main{
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    /* background: linear-gradient(90deg, #ccc, #cc0); */
    padding: 10px;
    width: auto;
    min-width: 50%;
}

ul.form-option{
    list-style-type: none;
    display: block;
    
}

li.form-option{
    /* Para diferenciar un poco */
    /* background: rgb(131,58,180); */
    /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
    border: 1px solid blue;
    border-radius: 20px;
    font-size: large;
    margin-bottom: 10px;
    width: 90%;
    padding: 10px;
    transition: background,0.5s;
}
li.form-option:hover{
    transform: scale(1.05);
}
input[type="file"]{
    user-select: none;
}

.submit{
    width: 100px;
    height: 40px;
    background: rgb(222,128,199);
    /* background: linear-gradient(90deg, rgba(222,128,199,1) 0%, rgba(177,236,232,1) 50%, rgba(194,96,255,1) 93%); */
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size:large;
    margin-top: 5px;
    transition: background, 0.5s;
}

.submit:hover{
    /* background: linear-gradient(45deg, rgb(0, 255, 136), rgb(2, 179, 243)); */
    transform: scale(1.1);
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
th{
    border: 1px solid black;
    padding: 10px;
    font-size:medium;
}   

td{
    border: 1px solid black;
    padding: 10px;
    font-size: x-small;
}   




form.upload-file{
    border-radius: 20px;
    background: linear-gradient(to top, blue, red); 
    padding: 10px;
    width: 90%;
    
}
.option{
    margin-top: 20px;
    background: linear-gradient(90deg, blue, pink);
    border-radius: 20px;
    border: none;
    padding: 10px;
    width: 200px;
    font-size: medium;
    cursor: pointer;
}
